<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".production" mimeType="text/plain" />
            <mimeMap fileExtension=".staging" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
